@model iTunesSearch.Models.Interaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClickedAdUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClickedAdUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteractionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteractionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
