@model IEnumerable<iTunesSearch.Models.GroupedInteraction>

@{
    ViewBag.Title = "Interactions";
}

<h2>Interactions</h2>
<h4>More detailed: @Html.ActionLink("Detailed interactions", "Detailed", "Interactions")</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClickedAdUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClickCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClickedAdUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClickCount)
        </td>
    </tr>
}

</table>
